@media (max-width:992px){
    .video{
   margin-left: 180px;
    }
}

@media (max-width:576px) {

  .virgen{
    width: 20%;
    padding-top: 15px;
  }

  .menu-label{
    display: flex;
    cursor: pointer;
  }
  
  #menu-toggle:checked + .barra{
    display: flex;
  }
.barra{
 flex-direction: column;
  display: none;
}

.s2{
  margin-bottom:50px;
}

.texto{
  font-size: 150%;
  margin-top: 30px;
}

  h4{
  font-size: 95%;
  padding-left: 20px;
  }
 .texto1{
    font-size: 75%;
    padding-right: 40%;
 }

 .p{
  font-size: 80%;
 }

 .video{
   width:200px;
   height: 130px;
   padding-right: 150;

 }

}