@media (max-width:992px){
    .video{
   margin-left: 180px;
    }
}

@media (max-width:576px) {

  .virgen{
    width: 25%;
    height: 35%;
    padding-top: 45px;
  }

  .menu-label{
    display: flex;
    cursor: pointer;
  }

  .s2{
    width: 90%;
    margin-bottom: 10px;
  }
  .barra{
     display: none;
   }
 
   h2{
    font-size: 180%;
   }

   h1{
    font-size: 180%;
   }

  #menu-toggle:checked + .barra{
    display: flex;
  }


.texto{
  font-size: 150%;
  margin-top: 30px;
}

  h4{
  font-size: 95%;
  padding-left: 20px;
  }
 .texto1{
    font-size: 75%;
    padding-right: 40%;
 }

 .p{
  font-size: 80%;
 }

 .video{
   width:200px;
   height: 130px;
   margin-left: -250px;
}

}