@media (max-width:992px){
    .video{
   margin-left: 180px;
    }
}

@media (max-width:576px){git 

  .virgen{
    width: 40%;
  }

  .menu-label{
    display: flex;
    cursor: pointer;
  }
  
  #menu-toggle:checked + .barra{
    display: flex;
  }
.barra{
 flex-direction: column;
  display: none;
}

  h3{
    width: 90%;
  }

  h4{
  font-size: 95%;
  padding-left: 20px;
  }
 .texto1{
    font-size: 65%;
 }

 .video{
    margin-left: 40px;
   width: 50%;
 }

}