@media (max-width:992px){
    .video{
   margin-left: 180px;
    }
}

@media (max-width:576px){

  .menu-label{
    display: flex;
    cursor: pointer;
  }
  
  #menu-toggle:checked + .barra{
    display: flex;
  }
.barra{
 
  flex-direction: column;
  display: none;
}



  h3{
    width: 90%;
  }

  h4{
  font-size: 120%;
  }
 .texto1{
    font-size: 90%;
 }

 .video{
    margin-left: 40px;
   width: 90%;
 }

}