/*
  .barra{
    display: none ;
    flex-direction: column;
    position: absolute;
    margin-left: 0%;
    font-size: 100%;
    gap: 5px;
    text-decoration: none;
   } 

   i{
    display: block;
   }

   .label{
    display: flex;
   }

   #menu-toggle:checked + .barra{
    display: flex;
   } */
   @media (max-width:777px)  {
    h4{ font-size: 95%;
      padding-left: 20px;
      }
    
      .texto1{
        font-size: 130%;
      margin-top: 10px;
      padding-right: 20px;
      }

      .barra{
        display: none;
        flex-direction: column;
      }

      #menu-toggle:checked +.barra{
        display: flex;
      }
    
   }

  
  
@media (max-width: 776px) {
  .barra{
    display: none ;
    flex-direction: column;
    position: absolute;
    margin-left: 0%;
    font-size: 100%;
    gap: 5px;
    text-decoration: none;
   }

  
   .mh{
    display: block;
    height: 36px;
   }
/* 
   i{
    display: block;
   } */

   #menu-toggle:checked ~ .barra{
    display: flex;
   }
  
 }  

@media (max-width:576px) and (min-width:270px) {

 
 
 
  .virgen{
    width: 25%;
    height: 35%;
    padding-top: 45px;
  }

  .s2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.img{
 height: 40px;
 display: flex ;
 align-items: center;
}

h2{
    font-size: 180%;
   }

 h1{
    font-size: 180%;
   }



.texto{
  font-size: 120%;
  margin-top: 30px;
}

  h4{
  /* font-size: 95%; */
  padding-left: 20px;
  }

 .texto1{
    font-size: 60%;
    padding-right: 20%;
 }

 .p{
  font-size: 80%;
 }


 iframe{
  height: 70%;
  width: 90%;
  top: 2px;
 }

 .video{
   width:70%;
   height: 30%;
   }
  
   .barra{
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: 0%;
    font-size: 100%;
    gap: 8px;
    text-decoration: none;

   }

   .mh{
    display: block;
    height: 36px;
   }
/* 
   i{
    display: block;
   } */

   #menu-toggle:checked ~ .barra{
    display: flex;
   }

}
