
 @media (max-width: 992px) and (orientation:portrait){
 /* .video
 { height: 70%;
  width: 70;

 } */

 }   
  


@media screen {

  h4{ font-size: 95%;
  padding-left: 20px;
  }

  .texto1{
    font-size: 130%;
  margin-top: 10px;
  padding-right: 20px;
  }
/*  
  .video{
    left: 5vw;
    height: 70%;
    width: 70%;
  } */
}

@media (max-width:576px) and (orientation:portrait) {
  .virgen{
    width: 25%;
    height: 35%;
    padding-top: 45px;
  }

  .menu-label{
    display: flex;
    cursor: pointer;
  }

  .s2{
  height: 80px;
}


.img {
 height: 60px;
}


  
.barra{
     display: none;
   }
 
   h2{
    font-size: 180%;
   }

   h1{
    font-size: 180%;
   }

  #menu-toggle:checked + .barra{
    display: flex;
  }


.texto{
  font-size: 120%;
  margin-top: 30px;
}

  h4{
  font-size: 95%;
  padding-left: 20px;
  }

 .texto1{
    font-size: 75%;
    padding-right: 20%;
 }

 .p{
  font-size: 80%;
 }
/* 
 .video{
   width:200px;
   height: 130px; */
  
}
