html{scroll-behavior: smooth;}

body{
    margin-top:0px;
    margin-right: 0px;
    margin-left: 0px;
    overflow-x: hidden;
    position: relative;
 
}

.fondo{
border-bottom: 70px;
background-color: #073763;
margin-top: -50px;
}

header{
    background-image: url(/parroquia.jpg);
    width: 100%;
    background-size: 100% 100%;
    margin-bottom: -32px;    
     
}

#menu-toggle{
    display: none;
   
}

.mh{
    display: none;
    font-size: 36px;
   
}

.barra{
display: flex;
list-style: none;
font-size: 25px;
color: beige;
margin-top:0px;
justify-content: space-around;
text-decoration: none;
padding-top: 20px;

}

.virgen{
width:10%;
height: 30%;
margin-left: 45%;
}

h2{ text-align: center;
    color: whitesmoke;
   font-size: 40px;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    
}

.texto{
    color: #7f99b5;
    font-size: 50px;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-family:YACgEfOAqSo-0;
   line-height:1.39536425em;font-style:italic;
}


.h4{color: #8DCCFA;
    text-align: right;
  align-items: end;
margin-top: 20px;
font-size: 150%;

}
.texto1{
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    text-rendering: geometricprecision;
    text-align: justify;
    justify-items: end;
    white-space: normal;
    font-family:YACgEfOAqSo-0;
    font-style: italic;
}
    

 .texto2{
    margin-left: 30px;
   margin-top: 10px;
 }

.s2{
   background-color: rgba(0, 180, 255, 0.39);
   display: flex;
   justify-content: center;
}
  
img{
    height: 70px;
}



.p{
    color: #7F99B5;
    font-size: 60px;
    text-align: center;
  margin-top: 10%;
}



.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;    
}

.video{
    display: grid;
    justify-items: center;
    position: relative;
    height: 70%;
   

}

.div{
    width: 0%;
    height: 0%;
}

.mail{
color: #8DCCFA;
}

.email{
    margin-top: 20%;
}



footer{
    background-color: black;
    text-align: center;
    margin-top: 0px;
    color: bisque;
    height: 10%;
  align-self: center;
}

.imagen{
    height: 50%;
}