body{
    margin-top: -20px;
    margin-right: 0px;
    margin-left: 0px;

}

.fondo{
border-bottom: 70px;
background-color: #073763;
}






header{
    background-image: url(/parroquia.jpg);
    width: 100%;
    height:700px;   
}



.barra{
   list-style: none;
   font-style: italic;
   font-size: 25px;
  color: beige;
margin-top:20px;
flex-direction: column;
justify-self: end;
margin-left: 1000px;

}


.virgen{
width: 80px;
margin-left: 45%;

}

h2{ text-align: center;
    color: whitesmoke;
    font-size: 50px;
}

h1{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
}

.texto{
    color: whitesmoke;
    font-size: 50px;
   text-align: center;
   font-family:  'Pacifico', cursive;;
 
}

h3{
    text-align: center;
    color: #7F99B5;
    font-size: 50PX;
}

h4{text-align: center;
    color: #8DCCFA;
    font-size:50px ;

}

.texto1{
    text-align: center;
    color: whitesmoke;
    font-size: 25px;

}

img{
    width: 90px;
   
    
    
}

.s2{
    width: 100%;
    height: 120px;
    text-align: center;
    margin-top: 50px;
    }


  
footer{
    background-color: wheat;
    text-align: center;
    margin-top: 20px;
}

.linea{
   width: 90%;
}

.p{
    color: #7F99B5;
    font-size: 60px;
    text-align: center;
}

.video{
   margin-left: 380px;
}