section{
    background-image: url(/parroquia.jpg);
    height: 200%;
   
}
.barra{
    list-style: none;
    font-style: italic;
    font-size: 25px;
   color: beige;
 margin-top:20px;
 flex-direction: column;
 justify-self: end;
 margin-left: 1000px;
 
 }
.virgen{
  margin-left: 45%;
}

.texto2{
    color: antiquewhite;
    margin-left:  100px;
    font-size: 30px;
}

.texto3{
    color: antiquewhite;
   margin-left:760px ;
    font-size: 30px;
}

.logos{ display: flex;
justify-content: space-around;
}

.img{
    height: 70px;
}

footer{
    background-color: wheat;
    text-align: center;
    color: black;
}